name: CICD

on:
  [push, pull_request]

jobs:
  setup:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Set up Gradle
        run: chmod +x gradlew
      - name: Assemble
        run: ./gradlew assemble
      - name: Test
        run: ./gradlew test